.itemContainer {
    padding: 0 30px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.borderBottom {
    width: 100%;
    border-bottom: 2px solid #000;
    margin: 15px 0;
}

.nftContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 30px;
}

.nftContainer > a {
    margin: 20px 0;
    transition: .3s;
}

.nftContainer > a:hover {
    transform: translateY(-10px);
}

.nft {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .2) !important;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.cardFloor, 
.cardTotal{
    font-size: 0.9rem;
    margin-top: 30px;
}

.cardFloor > p:first-child, 
.cardTotal > p:first-child {
  color: #999;
}

.cardFloor > p:last-child, 
.cardTotal > p:last-child {
  font-weight: 500;
}


