.signupContainer {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

.hide {
    display: none;
  } 
body {
    background-color: lightgoldenrodyellow;
  }